.row {
  margin-left: 20px;
}

.row_poster {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.row_poster::-webkit-scrollbar {
  display: none;
}
.row_posters_image {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  transition: transform 450ms;
  margin-right: 10px;
}
.row_posters_image:hover {
  transform: scale(1.08);
}
.row_posters {
  max-height: 250px;
}
.row_posters:hover {
  transform: scale(1.09);
}
